In [ ]:
x = 42
print("cell1:", x)

In [ ]:
y = x * 2
print("cell2:", y)

In [ ]:
print("cell3: done")